<%= link_to "サブスク登録", new_subscription_path %>

<% @tasks.each do |task| %>
  <div>
    <%= task.title %>
    <%= task.description %>
    <%= task.deadline %>
    <%= task.priority.name %>
  </div>
<% end %>